{% capture nl %}
{% endcapture %}
{% assign html = include.html %}

{% capture callout-start %}<blockquote>{{nl}}  <p>[!{% endcapture %}

{% capture html %}
    {% include substring.html
        html=html
        inline = true
        start-old=callout-start
        end-old=']'
        start-new='<aside class="'
        end-new='%ASIDE-END-PLACEHOLDER%' %}
{% endcapture %}

{% assign html = html | replace: '%ASIDE-END-PLACEHOLDER%</p>', '%ASIDE-END-PLACEHOLDER-SIMPLE%' %}

{% capture html %}
    {% include substring.html
        html=html
        inline = true
        start-old='%ASIDE-END-PLACEHOLDER%'
        end-old='</blockquote>'
        start-new='"><p>'
        end-new='</aside>' %}
{% endcapture %}
{% capture html %}
    {% include substring.html
        html=html
        inline = true
        start-old='%ASIDE-END-PLACEHOLDER-SIMPLE%'
        end-old='</blockquote>'
        start-new='">'
        end-new='</aside>' %}
{% endcapture %}

{{ html }}