{% capture nl %}
{% endcapture %}
{%- assign content = nl | append: include.html -%}
{%- unless page.preserve-headings -%}
  {%- assign content = content | replace: "<h5", "<h6" -%}
  {%- assign content = content | replace: "<h4", "<h5" -%}
  {%- assign content = content | replace: "<h3", "<h4" -%}
  {%- assign content = content | replace: "<h2", "<h3" -%}
  {%- assign content = content | replace: "<h1", "<h2" -%}
  {%- assign content = content | replace: "</h5>", "</h6>" -%}
  {%- assign content = content | replace: "</h4>", "</h5>" -%}
  {%- assign content = content | replace: "</h3>", "</h4>" -%}
  {%- assign content = content | replace: "</h2>", "</h3>" -%}
  {%- assign content = content | replace: "</h1>", "</h2>" -%}
{%- endunless -%}
{%- if page.collection == "poems" -%}
  {%- capture stanzabreak -%}</ul>{{nl}}<ul>{%- endcapture -%}
  {%- assign content = content | replace: "  <ul>", "  <div class='indented'>" -%}
  {%- assign content = content | replace: "  <li>~</li>", stanzabreak -%}
  {%- assign content = content | replace: "  </ul>", "  </div>" -%}
  {%- assign content = content | replace: "<ul>", "<div class='stanza'>" -%}
  {%- assign content = content | replace: "</ul>", "</div>" -%}
  {%- assign content = content | replace: "<li>", "<div class='line'>" -%}
  {%- assign content = content | replace: "</li>", "</div>" -%}
{%- endif -%}

{% capture content %}{% include substring.html html=content start-old='<p><img src' end-old='" />' start-new='<figure><img src' end-new='%IMG-END-TAG%' inline=true %}{% endcapture %}
{% capture content %}{% include substring.html html=content start-old='<p class="float"><img src' end-old='" />' start-new='<figure class="float"><img src' end-new='%IMG-END-TAG%' inline=true %}{% endcapture %}
{% capture content %}{% include substring.html html=content start-old='<p class="float edge"><img src' end-old='" />' start-new='<figure class="float edge"><img src' end-new='%IMG-END-TAG%' inline=true %}{% endcapture %}
{% assign content = content | replace: '%IMG-END-TAG%</p>', '" /></figure>' %}
{% assign img-end-nl = '%IMG-END-TAG%' | append: nl %}
{% assign p-nl = '</p>' | append: nl %}
{% capture content %}{% include substring.html html=content start-old=img-end-nl end-old=p-nl start-new='" /><figcaption>' end-new='</figcaption></figure>' inline=true %}{% endcapture %}
{% capture factbox-start %}<blockquote class="float">{{nl}}  <blockquote>{% endcapture%}
{% capture double-end %}  </blockquote>{{nl}}</blockquote>{% endcapture%}
{% capture content %}{% include substring.html html=content start-old=factbox-start end-old=double-end start-new='<aside class="box float">' end-new='</aside>' %}{% endcapture %}
{% capture double-start %}<blockquote>{{nl}}  <blockquote>{% endcapture%}
{% capture content %}{% include substring.html html=content start-old=double-start end-old=double-end start-new='<div class="box">' end-new='</div>' %}{% endcapture %}
{% capture content %}{% include substring.html html=content start-old='<blockquote class="float">' end-old='</blockquote>' start-new='<aside class="pullquote">' end-new='</aside>' %}{% endcapture %}
{% capture content %}{% include substring.html html=content start-old='^' end-old='^' start-new='<sup>' end-new='</sup>' inline=true %}{% endcapture %}
{% capture content %}
  {% include callouts.html html=content %}
{% endcapture %}
{% include anchor_headings.html html=content anchorBody="#" anchorClass="perma" %}
