{% capture nl %}
{% endcapture %}
{%- assign content = include.html -%}
{%- if include.shift-headings -%}
  {%- capture content -%}{%- include substring.html html=content start-old='<h5' end-old='</h5>' start-new='<h6 ' end-new='</h6>' -%}{%- endcapture -%}
  {%- capture content -%}{%- include substring.html html=content start-old='<h4' end-old='</h4>' start-new='<h5 ' end-new='</h5>' -%}{%- endcapture -%}
  {%- capture content -%}{%- include substring.html html=content start-old='<h3' end-old='</h3>' start-new='<h4 ' end-new='</h4>' -%}{%- endcapture -%}
  {%- capture content -%}{%- include substring.html html=content start-old='<h2' end-old='</h2>' start-new='<h3 ' end-new='</h3>' -%}{%- endcapture -%}
  {%- capture content -%}{%- include substring.html html=content start-old='<h1' end-old='</h1>' start-new='<h2 ' end-new='</h2>' -%}{%- endcapture -%}
{%- endif -%}
{%- if include.poetry -%}
  {% capture p-s %}{{nl}}<p>//poetry</p>{% endcapture %}
  {% capture p-e %}{{nl}}<p>//end-poetry</p>{% endcapture %}
  {% capture p-sn %}{{nl}}<div class="poetry">{% endcapture %}
  {% capture p-en %}{{nl}}</div>{% endcapture %}
  {% capture ul-1 %}{{nl}}<ul>{% endcapture %}
  {% capture ul-2 %}{{nl}}    <ul>{% endcapture %}
  {% capture li-1 %}{{nl}}  <li>{% endcapture %}
  {% capture li-2 %}{{nl}}      <li>{% endcapture %}
  {% capture ul-end %}</ul>{{nl}}{% endcapture %}
  {% capture li-end %}</li>{{nl}}{% endcapture %}
  {% capture ul-1n %}{{nl}}<div class="stanza">{% endcapture %}
  {% capture ul-2n %}{{nl}}    <div class="indented">{% endcapture %}
  {% capture li-1n %}{{nl}}  <div class="line">{% endcapture %}
  {% capture li-2n %}{{nl}}      <div class="line">{% endcapture %}
  {% capture ul-li-end-n %}</div>{{nl}}{% endcapture %}
  {%- assign content = content | replace: p-s, p-sn -%}
  {%- assign content = content | replace: p-e, p-en -%}
  {%- assign content = content | replace: ul-1, ul-1n -%}
  {%- assign content = content | replace: ul-2, ul-2n -%}
  {%- assign content = content | replace: li-1, li-1n -%}
  {%- assign content = content | replace: li-2, li-2n -%}
  {%- assign content = content | replace: li-end, ul-li-end-n -%}
  {%- assign content = content | replace: ul-end, ul-li-end-n -%}
  {%- assign content = content | replace: "<ul>", ul-1n -%}
{%- endif -%}
{% assign img-start-old = nl | append: '<p><img src' %}
{% assign img-start-new = nl | append: '<figure><img src' %}
{% capture content %}{% include substring.html html=content start-old=img-start-old end-old='" />' start-new=img-start-new end-new='%IMG-END-TAG%' inline=true %}{% endcapture %}
{% assign img-start-old = nl | append: '<p class="float"><img src' %}
{% assign img-start-new = nl | append: '<figure class="float"><img src' %}
{% capture content %}{% include substring.html html=content start-old=img-start-old end-old='" />' start-new=img-start-new end-new='%IMG-END-TAG%' inline=true %}{% endcapture %}
{% assign img-start-old = nl | append: '<p class="float edge"><img src' %}
{% assign img-start-new = nl | append: '<figure class="float edge"><img src' %}
{% capture content %}{% include substring.html html=content start-old=img-start-old end-old='" />' start-new=img-start-new end-new='%IMG-END-TAG%' inline=true %}{% endcapture %}
{% assign content = content | replace: '%IMG-END-TAG%</p>', '" /></figure>' %}
{% assign img-end-nl = '%IMG-END-TAG%' | append: nl %}
{% assign p-nl = '</p>' | append: nl %}
{% capture content %}{% include substring.html html=content start-old=img-end-nl end-old=p-nl start-new='" /><figcaption>' end-new='</figcaption></figure>' inline=true %}{% endcapture %}
{% capture factbox-start %}<blockquote class="float">{{nl}}  <blockquote>{% endcapture%}
{% capture double-end %}  </blockquote>{{nl}}</blockquote>{% endcapture%}
{% capture content %}{% include substring.html html=content start-old=factbox-start end-old=double-end start-new='<aside class="box float">' end-new='</aside>' %}{% endcapture %}
{% capture double-start %}<blockquote>{{nl}}  <blockquote>{% endcapture%}
{% capture content %}{% include substring.html html=content start-old=double-start end-old=double-end start-new='<div class="box">' end-new='</div>' %}{% endcapture %}
{% capture content %}{% include substring.html html=content start-old='<blockquote class="float">' end-old='</blockquote>' start-new='<aside class="pullquote">' end-new='</aside>' %}{% endcapture %}
{% include anchor_headings.html html=content anchorBody="#" anchorClass="perma" %}
