{%- for item in site.notes -%}
    <p>Listing... {{ include.season }}</p>
    {%- if item.season == 'summer' -%}
    <article>
      <ul>
        {%- if item.status -%}
          <li><strong>Status: </strong>{{item.status | capitalize }}</li>
        {%- endif -%}
        {% for tag in item.tags %}
          <li>{{ tag }}</li>
        {% endfor %}
      </ul>
      <a href="{{item.url}}"><h2>{{ item.title }}</h2></a>
      <p>{{ item.content | markdownify | truncate: 100}}</p>
    </article>
    {%- endif -%}
{%- endfor -%}
