{%- if include.full -%}
<article>
  {%- if note.image -%}
    <a href='{{note.url}}'>
      <figure>
        <img src='/img/{{ note.image }}' alt='featured image' />
      </figure>
    </a>
  {%- endif -%}
{%- endif -%}
  {% if note.title != "" %}
    {%- assign notename = note.title -%}
  {%- else -%}
    {%- assign notename = note.id -%}
  {%- endif -%}
  {% if include.full %}
  <h2><a href="{{note.url}}">{{ notename | markdownify | strip_html }}</a></h2>
  {% else %}
  <h3><a href="{{note.url}}">{{ notename | markdownify | strip_html }}</a></h3>
  {% endif %}
{%- if include.full -%}
  {% if note.subtitle %}
    {% if include.full %}
    <h3>{{ note.subtitle | markdownify | strip_html }}</h3>
    {% else %}
    <h4>{{ note.subtitle | markdownify | strip_html }}</h4>
    {% endif %}
  {% endif %}
  <div>
  {%- if note.summary -%}
      {{ note.summary | markdownify }}
  {%- else -%}
      {% assign summary = note.content | split: site.excerpt_separator %}
      {{ summary[0] | markdownify | strip_html | truncatewords: 50}}
  {%- endif -%}
  </div>
  {% if include.read-more %}
  <div class='read-more'>
    <a href='{{ note.url }}'>Read more</a>
  </div>
  {% endif %}
</article>
{% endif %}
