{%- if include.full -%}
<article onclick='location.href="{{note.url}}";' style='cursor: pointer;'>
  {%- if note.image -%}
    <figure>
      <img src='/img/{{ note.image }}' alt='featured image' />
    </figure>
  {%- endif -%}
{%- endif -%}
  {% if note.title != "" %}
    {%- assign notename = note.title -%}
  {%- else -%}
    {%- assign notename = note.id -%}
  {%- endif -%}
  {% if include.full %}
  <h2>{{ notename | markdownify }}</h2>
  {% else %}
  <h3>{{ notename | markdownify }}</h3>
  {% endif %}
{%- if include.full -%}
  {% if note.subtitle %}
    {% if include.full %}
    <h3>{{ note.subtitle | markdownify }}</h3>
    {% else %}
    <h4>{{ note.subtitle | markdownify }}</h4>
    {% endif %}
  {% endif %}
  <div>
  {%- if note.summary -%}
      {{ note.summary | markdownify }}
  {%- else -%}
      {% assign summary = note.content | split: site.excerpt_separator %}
      {{ summary[0] | markdownify | strip_html | truncatewords: 50}}
  {%- endif -%}
  </div>
  {% if include.read-more %}
  <div class='read-more'>
    <a href='{{ note.url }}'>Read more</a>
  </div>
  {% endif %}
</article>
{% endif %}
