img {
    height: 6em;
    margin: 0;
}

summary::marker {
     content: "";
     display: none;
    }
details summary::-webkit-details-marker {
    content: "";
    display:none;
}

details[open] summary {
    width: auto;
} 