@font-face {
    font-family: CrimsonEnglish;
    src: url(/assets/fonts/crimson-roman-english.eot) format('embedded-opentype'), url(/assets/fonts/crimson-roman-english.woff2) format('woff2'), url(/assets/fonts/crimson-roman-english.woff) format('woff');
}
@font-face {
    font-family: CrimsonEnglish;
    src: url(/assets/fonts/crimson-italic-english.eot) format('embedded-opentype'), url(/assets/fonts/crimson-italic-english.woff2) format('woff2'), url(/assets/fonts/crimson-italic-english.woff) format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: CrimsonEnglish;
    src: url(/assets/fonts/crimson-bold-english.eot) format('embedded-opentype'), url(/assets/fonts/crimson-bold-english.woff2) format('woff2'), url(/assets/fonts/crimson-bold-english.woff) format('woff');
    font-weight: 700;
    font-style: normal;
}

:root {
  /* Theme colors */
  --themeDarker: #02494c;
  --themeDark: #026367;
  --themeDarkAlt: #02767a;
  --themePrimary: #038387;
  --themeSecondary: #159196;
  --themeTertiary: #4bb4b7;
  --themeLight: #9bd9db;
  --themeLighter: #c7ebec;
  --themeLighterAlt: #f0fafa;
  /* Foreground  */
  --neutralBlack: #000000;
  --neutralDark: #201f1e;
  --neutralPrimary: #323130;
  --neutralPrimaryAlt: #3b3a39;
  --neutralSecondary: #605e5c;
  --neutralTertiary: #a19f9d;
  --neutralWhite: #ffffff;
  /* Background */
  --neutralTertiaryAlt: #c8c6c4;
  --neutralDark: #201f1e;
  --neutralQuaternaryAlt: #e1dfdd;
  --neutralLight: #edebe9;
  --neutralLighter: #f3f2f1;
  --neutralLighterAlt: #faf9f8;
  --accentBlue: #0078d4;

/* Typography */
  --font-family-serif: "CrimsonEnglish", "Crimson Text", Garamond, Georgia, serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-sans: "Segoe UI", "Myriad", "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --font-weight: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --line-height: 1.3;

/* Layout */
  --body-width: 550px;
  --sidebar-width: 200px;
  --margin-mobile: calc(1rem + ((1vw - 3.75px) * 10)); /* calculated to be dynamic starting at iPhone SE screen */
  --margin-desktop: 4rem;
  --gutter: 2rem;
  --border-radius: 4px;
  --box-shadow-4: 0 1.6px 3.6px 0 rgba(0, 0, 0, 0.132), 0 0.3px 0.9px 0 rgba(0, 0, 0, 0.108); /* from ms-depth-4 */
  --box-shadow-8: 0 3.2px 7.2px 0 rgba(0, 0, 0, 0.132), 0 0.6px 1.8px 0 rgba(0, 0, 0, 0.108); ; /* from ms-depth-8 */
}

html, body {
  background-color: var(--neutralLight);
}

body {
  font-family: var(--font-family-sans);
  line-height: var(--line-height);
  color: var(--neutralPrimary);
  font-size: 16px;
  width: fit-content;
  margin: 0 auto;
}

body > header {
  margin: var(--gutter) var(--margin-mobile);
}

body > header > nav {
  display: flex;
  justify-content: space-between;
}

main {
  background-color: var(--neutralWhite);
  max-width: var(--body-width);
  padding: var(--margin-mobile);
  box-shadow: var(--box-shadow-8);
}

/* Hide desktop-only elements*/

#sidenote-column, main header nav, main header .tag-list, main header span {
  display: none;
}

@media (min-width: 992px) {
  body > header {
    margin: var(--gutter) var(--margin-desktop);
  }
  main {
    display: grid;
    max-width: initial;
    padding: var(--margin-desktop) 0;
    grid-template-columns: auto auto;
    box-shadow: var(--box-shadow-8);
  }
  main > * {
    grid-column: 1;
  }
  div.content {
    grid-row: 1 / 3;
    width: var(--body-width);
    padding-left: var(--margin-desktop);
  }
  main > header, main > #sidenote-column {
    grid-column: 2;
    width: var(--sidebar-width);
    padding-left: var(--gutter);
    padding-right: var(--margin-desktop);
  }
  /*  show desktop-only elements */
  main > #sidenote-column { display: block;}
  main header nav { display: block;}
  main header .tag-list { display: list-item;}
  main header span { display: inline;}
}

@media (min-width: 1200px) {
  main {
    grid-template-columns: auto auto auto;
  }
  main > * {
    grid-column: 2;
  }
  div.content {
    padding-left: 0;
  }
  main > header {
    grid-column: 1;
    padding-left: var(--margin-desktop);
    padding-right: var(--gutter);
  }
  main > #sidenote-column {
    grid-column: 3;
  }
}

header ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

body > header ul {
  margin-top: auto;
}

header ul ul ul {
  margin-left: 1em;
}

header ul li {
  margin-top: .3em;
  margin-bottom: .3em;
}

header > ul > li {
  margin-bottom: 1em;
}

nav h1 {
  margin: 0;
}

/* Sidenotes section */

#sidenote-column {
  pointer-events: none;
  height: 100%;
}

#sidenote-column>* {
  pointer-events: auto;
}

.sidenote {
  position: absolute;
  padding: 2em 0 0;
  width: 240px;
}

.sidenote p {
  color: var(--neutralSecondary);
}

.sidenote>.sidenote-self-link {
  font-weight: 600;
  color: var(--neutralTertiary);
  background-color: inherit;
  position: absolute;
  top: 0;
  left: -.5em;
  width: 2em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all var(--transition);
  border-radius: 50%;
}

.sidenote:target .sidenote-self-link, .sidenote.targeted .sidenote-self-link, .sidenote.highlighted>.sidenote-self-link {
  background-color: var(--themeLighter);
  color: var(--neutralSecondary);
}

.sidenote-wrapper .reversefootnote {
  display: none;
}

.sidenote-wrapper p {
  margin: 0;
  font-size: var(--font-size-note);
}

a.footnote.highlighted {
  color: var(--neutralSecondary);
}

a.footnote::before {
  content: "";
  display: block;
  background-color: inherit;
  position: absolute;
  left: -.5em;
  top: -.5em;
  width: 1.6em;
  height: 1.6em;
  z-index: -1;
  border-radius: 50%;
  transition: background-color var(--transition);
}

a.footnote.targeted::before, a.footnote.highlighted::before {
  background-color: var(--themeLighter);
}

.sidenote-wrapper {
  overflow: hidden;
  position: relative;
  margin-bottom: .5em;
}

.sidenote.highlighted .sidenote-outer-wrapper {
  border-color: var(--neutralTertiaryAlt);
}

/* Langley formatting */

aside.factbox {
  box-shadow: var(--box-shadow-4);
  padding: .5rem;
  background-color: var(--neutralLighterAlt);
  float: right;
  margin: .5rem 0 .5rem .5rem;
  width: 33%;
  border-radius: var(--border-radius);
}

.content p, .content aside, .content dl, .content ul, .content ol {
  font-family: var(--font-family-serif);
  font-size: 19px;
}
