@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Source+Code+Pro&display=swap');

@font-face {
    font-family: 'HK Grotesk';
    src: url('/assets/fonts/hkgrotesk-medium.eot'); /* IE9 Compat Modes */
    src: url('/assets/fonts/hkgrotesk-medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/hkgrotesk-medium.woff2') format('woff2'), /* Modern Browsers */
         url('/assets/fonts/hkgrotesk-medium.woff') format('woff'), /* Modern Browsers */;
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url('/assets/fonts/hkgrotesk-mediumitalic.eot'); /* IE9 Compat Modes */
    src: url('/assets/fonts/hkgrotesk-mediumitalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/hkgrotesk-mediumitalic.woff2') format('woff2'), /* Modern Browsers */
         url('/assets/fonts/hkgrotesk-mediumitalic.woff') format('woff'), /* Modern Browsers */;
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url('/assets/fonts/hkgrotesk-extrabold.eot'); /* IE9 Compat Modes */
    src: url('/assets/fonts/hkgrotesk-extrabold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/hkgrotesk-extrabold.woff2') format('woff2'), /* Modern Browsers */
         url('/assets/fonts/hkgrotesk-extrabold.woff') format('woff'), /* Modern Browsers */;
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Bodoni-11';
    src: url('/assets/fonts/bodoni-11-bold.eot'); /* IE9 Compat Modes */
    src: url('/assets/fonts/bodoni-11-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/bodoni-11-bold.woff2') format('woff2'), /* Modern Browsers */
         url('/assets/fonts/bodoni-11-bold.woff') format('woff'), /* Modern Browsers */;
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}


:root {
  /* Theme colors */
  --Cucumber: #8DA45C;
  --Blue: #8DA45C;
  --Anzac: #E2BC46;
  --Tango: #E67F29;
  --Rust: #c97b6f;
  --Tan: #562C02;
  --Merino: #F2EEE2;
  --neutralBlack: #020202;
  --neutralWhite: #fffefd;

  /* Typography */
  --font-family-serif: "Libre Baskerville", Garamond, Georgia, serif;
  --font-family-sans: "HK Grotesk", "Myriad", "Helvetica Neue", sans-serif;
  --font-family-headings: "Bodoni-11", Bodoni-11, "Bodoni MT", Bodoni, serif;
  --sans-ratio: 1.08;
  --headings-ratio: 1.15;
  --font-family-mono: "Source Code Pro", monospace;
  --mono-ratio: 1.1;
  --size-s: 14px;
  --size-m: 16px;
  --size-l: 18px;
  --size-xl: 20px;
  --size-xxl: 26px;
  --leading: 1.6;
  --leading-tight: 1.45;
  --leading-sans: 1.35;
  --weight-regular: 400;
  --weight-semibold: 700;
  --font-weight-bold: 700;

  /* Layout */
  --width-body: 550px;
  --width-sidebar: 180px;
  --margin: 1.3125rem;
  --gutter: calc(1rem + ((1vw - 3.75px) * 5));
  --border-radius: 0;
  --border-radius-large: 0;
  --box-shadow-4: none; /* from ms-depth-4 */
  --box-shadow-8: none; ; /* from ms-depth-8 */
  --border: 1px solid var(--Anzac);
  --float-width: 40%;

  --transition: 0.467s cubic-bezier(0.1,0.9,0.2,1);
}

@media (min-width: 376px) {
  :root {
    --margin: calc(1.3125rem + ((1vw - 3.75px) * 6.969)); /* calculated to be dynamic and scale to max  */
  }
}

@media (min-width: 576px) {
  :root {
    --leading: 1.6;
    --leading-tight: 1.5;
    --size-s: 13px;
    --size-m: 16px;
    --size-l: 20px;
    --size-xl: 26px;
    --size-xxl: 32px;
  }
}

/* CSS Variables responsive adjustments */

@media (min-width: 768px) {
  :root {
    --gutter: 2rem;
  }
}
@media (min-width: 992px) {
  :root {
    --margin: 4rem;
  }
}
@media (min-width: 1200px) {
  :root {

  }
}

/* Font family, size and weight definitions */

body {
  font-family: var(--font-family-serif);
}

header,
footer,
table,
nav,
h2,
.subtitle,
h3,
h4,
#about-column {
  font-family: var(--font-family-sans);
  line-height: var(--leading-sans);
}

table {
  font-size: calc(var(--sans-ratio) * 1em);
}

/* Document layout */

html, body {
  overflow-x: hidden;
  background-color: var(--Merino);
}

body {
  line-height: var(--leading);
  color: var(--neutralBlack);
  font-size: var(--size-m);
  max-width: 100%;
  width: fit-content;
  margin: 0 auto;
}

body > header, body > footer {
  margin: var(--gutter) auto;
}

body > header {
  text-align: center;
  margin-top: 0;
  padding: calc(var(--margin)/2) 0;
  background-color: var(--Cucumber);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  box-shadow: var(--box-shadow-4);
}

@media (min-width: 576px) {
  body > header {
    margin-top: var(--gutter);
    border-radius: var(--border-radius);
  }
}

body > header h1 {
  font-size: calc( 1.4 * var(--size-xl));
  margin: 0;
  font-weight: bold;
  color: var(--Merino);
}

body > header h1 a {
  color: var(--Merino);
}

main header nav { display: block;}
main header .tag-list { display: list-item;}
main header span { display: block;}

@media (max-width: 991px) {
  main {
    max-width: var(--width-body);
    background-color: var(--neutralWhite);
    padding: var(--margin);
    box-shadow: var(--box-shadow-8);
    border-radius: var(--border-radius-large);
  }
  /* Hide desktop-only elements*/
  #sidenote-column, main header, #about-column {
    display: none;
  }
}

main > header, #about-column {
  line-height: var(--leading-sans);
}

div.content {
  position: relative;
  z-index: 1;
}

#dummy {
  width: 200em; /* to stretch out to maximum when content not full */
}

#sidenote-column {
  font-size: var(--size-s);
  line-height: var(--leading-tight);
  height: 100%;
}

@media (min-width: 992px) {
  body > header {
    width: calc(var(--width-body) + 2*var(--margin) + var(--width-sidebar) + var(--gutter) + 2rem);
  }
  main {
    display: grid;
    max-width: initial;
    grid-template-columns: auto auto;
    grid-gap: var(--gutter);
  }
  main > * {
    grid-column: 1;
  }
  div.content {
    grid-row: 1 / 4;
    position: relative;
    z-index: 1;
    background-color: var(--neutralWhite);
    box-shadow: var(--box-shadow-8);
    width: var(--width-body);
    padding: var(--margin);
    box-shadow: var(--box-shadow-8);
    border-radius: var(--border-radius-large);
  }
  main > header, main > #sidenote-column, #about-column {
    display: block;
    position: relative;
    grid-column: 2;
    width: var(--width-sidebar);
  }
  main > header, #about-column {
    padding: 1rem;
    height: fit-content;
    border-radius: var(--border-radius);
    background-color: var(--neutralWhite);
    box-shadow: var(--box-shadow-4);
  }
  main > header span {
    text-transform: uppercase;
  }
}

@media (min-width: 1200px) {
  body > header {
    width: calc(var(--width-body) + 2*var(--margin) );
  }
  main {
    grid-template-columns: auto auto auto;
  }
  main > header {
    grid-column: 1;
  }
  main > div.content {
    grid-column: 2;
    grid-row: 1 / 3;
  }
  main > #sidenote-column, #about-column {
    grid-column: 3;
  }
  main > #sidenote-column {
    width: calc( var(--width-sidebar) + 2rem );
  }
}

header ul, article > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

body > header ul {
  margin-top: auto;
}

header ul ul ul {
  margin-left: 1em;
}

header ul li {
  margin-top: .3em;
  margin-bottom: .3em;
}

header > ul > li {
  margin-bottom: 1em;
}

h1, h2, .subtitle, h3, h4, h5, h6 {
  margin: 0;
}

h1, h3, .subtitle {
  font-weight: 700;
}

h2 {
  font-weight: 400;
}

h1 {
  font-family: var(--font-family-headings);
  line-height: var(--leading-sans);  /* Intentionally also for article H1 which is in serif */
}

h2, .subtitle {
  line-height: var(--leading-sans);
}

h1 {
  color: var(--Blue);
  font-size: calc(var(--headings-ratio) * var(--size-xxl));
  font-weight: 400;
  margin-bottom: 1.5em;
  text-align: center;
}

.subtitle {
  color: var(--Blue);
  font-size: calc(var(--sans-ratio) * var(--size-l));
  text-align: center;
  margin-top: -2.2em;
  margin-bottom: 1.66em;
}

.subtitle + figure, h1 + figure {
  margin-top: -1em;
}

h2 {
  color: var(--Blue);
  font-size: calc(var(--sans-ratio) * var(--size-xl));
  margin: 1em 0 .5rem 0;
}

h3, h4, h5, h6 {
  margin-top: calc(1rem * var(--leading));
  margin-bottom: .2rem;
}

@media (min-width: 576px) {
  h2 {
    margin: 1.5em 0 .3em 0;
  }
  h3, h4, h5, h6 {
    margin-bottom: .3em;
  }
}

h3 {
  color: var(--Tan);
  font-size: calc(var(--sans-ratio) * var(--size-m));
}

h4 {
  font-size: calc(var(--sans-ratio) * var(--size-m));
  font-weight: 400;
}

h4 {
  text-transform: uppercase;
}

h5, h6 {
  font-size: 1em;
  font-weight: 700;
}

header, footer {
  font-size: calc(var(--sans-ratio) * 1em);
  color: var(--Tan);
}

footer {
  color: var(--Tan);
  text-align: center;
}

/* Typography */

p {
  margin: 0;
}
p+p, p+.float+p {
  margin-top: calc(.5em * var(--leading));
}

a {
  color: var(--Rust);
  text-decoration: none;
}
a:hover, a:active, a:focus {
  color: var(--Tango);
}
a:focus {

}

a[href*="//"]:not([href*="soukie.net"])::after {
  content: "↗\FE0E";
  position: relative;
  font-size: 70%;
  line-height: 0;
  top: -0.5em;
  font-style: normal;
  font-weight: 700;
}

a > h2 {
  color: var(--Blue);
}

a:hover > h2, a:active > h2, a:focus > h2 {
  color: var(--Blue);
}

blockquote {
  margin-left: 1em;
  margin-right: 0;
  color: var(--Tan);
  /* font-style: italic; */
}

@media (min-width: 576px) {
  blockquote {
    margin-left: 3em;
  }
}

/* blockquote em {
  font-style: normal;
} */

.box {
  box-shadow: var(--box-shadow-4);
  margin: calc(1em * var(--leading)) 0;
  padding: 1em;
  background-color: var(--Merino);
  border-radius: var(--border-radius);
}

div.box {
  color: var(--neutralWhite);
  background-color: var(--Cucumber);
}

aside.pullquote {
  display: block;
  font-size: var(--size-l);
  font-style: italic;
  margin: calc(1rem * var(--leading)) 0;
  line-height: var(--leading-tight);
  padding-left: 3rem;
  text-align: right;
  color: var(--Cucumber);
}

/* When div.box follows headline (optionally with a strapline or image), format it as a lede paragraph  */
.content.lede > p:first-of-type {
  color: var(--Tan);
  font-weight: 700;
}

.box h2, .box h3, .box h4, .box h5 {
  margin-top: 0;
}

::-moz-selection {
  background-color: var(--Anzac);
}

::selection {
  background-color: var(--Anzac);
}

a {
  transition: color var(--transition);
}

ul, ol {
  padding-left: 1em;
}

/* Figures */

figure {
  margin: calc(1rem * var(--leading)) 0;
  width: 100%;
}

figure > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

figcaption {
  font-family: var(--font-family-sans);
  font-size: calc(var(--sans-ratio) * var(--size-s));
  line-height: var(--leading-sans);
  text-align: center;
}

@media (min-width: 576px) {
  .float, aside.pullquote {
    float: right;
    margin: 1em;
    margin-right: 0;
    width: var(--float-width);
    line-height: var(--leading-tight);
  }
  aside.pullquote {
    padding: 0;
  }
  .edge {
    position: relative;
    left: var(--margin);
    margin-left: calc(-1 * var(--margin) + 1em);
    width: 40%;
    width: calc(var(--float-width) + var(--margin));
  }
  .edge figcaption {
    text-align: right;
    padding-right: var(--margin);
  }
}

article {
  box-shadow: var(--box-shadow-4);
  padding: 1rem;
  border-radius: var(--border-radius);
  margin: calc(2em * var(--leading)) 0;
}

article > ul {
  font-family: var(--font-family-sans);
  margin-bottom: calc(1em * var(--leading));
}

pre {
  -ms-overflow-style: scrollbar;
  overflow: auto;
  padding: .5rem;
  border-radius: var(--border-radius);
  background-color: var(--Merino);
}

pre, code, kbd {
  font-family: var(--font-family-mono);
  font-size: calc(var(--mono-ratio) * 1em);
  font-style: normal !important;
  font-weight: 400 !important;
}

code {
  padding: 0 .2em;
}

kbd {
  padding: 0 .25em;
  border: var(--border);
}

pre code {
  padding: 0;
  font-size: 1em;
}

div.footnotes:not(#sidenote-column) {
  margin-top: calc(3rem * var(--leading));
}

div.footnotes:not(#sidenote-column)::before {
  content: "Footnotes";
  display: block;
  font-family: var(--font-family-sans);
  font-weight: bold;
  color: var(--Tan);
  border-top: 1px solid var(--Tango);
  padding-top: 1em;
}

/* Permalink display and positioning */
a.perma {
  position: absolute;
  left: .5rem;
  display: none;
}
@media (min-width: 576px) {
  div.content > [id] {
    position: relative;
    left: -2rem;
    padding-left: 2rem;
  }
  div.content > [id]:hover > a.perma {
    display: inline-block;
  }
}

hr {
  margin: 3rem auto;
  width: 61.8%;
  border: none;
  border-bottom: var(--border);
  box-shadow: none;
}

/* Tables */

table {
  margin: calc(1em * var(--leading)) 0;
  border-collapse: collapse;
  border-bottom:  1px solid var(--Anzac);
}

th,
td {
  padding: .3em .5em;
  vertical-align: top;
}

th {
  background-color: var(--Anzac);
  font-weight: bold;
  color: var(--neutralWhite);
  vertical-align: bottom;
}

tr:nth-child(even) {
  background-color: var(--Merino);
}

/* Poetry */

div.poetry {
  width: fit-content;
  margin: calc(1em * var(--leading)) auto;
}

div.stanza {
	list-style-type: none;
  margin-top: calc(1em * var(--leading));
  padding: 0;
  width: fit-content;
}

.stanza .line {
	list-style-type: none;
	margin: 0;
	padding: 0;
  text-indent: -3em;
  padding-left: 3em;
}

.stanza .line p {
	margin: 0;
	padding: 0;
}

.indented {
	margin: 0 0 0 -2em;
}

.indented .line {
  text-indent: -2em;
  padding-left: 2em;
}


/* Sidenotes section */

#sidenote-column>* {
  pointer-events: auto;
}

.sidenote {
  position: absolute;
  padding: 2em 1rem 1rem 1em;
  width: var(--width-sidebar);
  border-radius: var(--border-radius);
  background-color: var(--neutralWhite);
  box-shadow: var(--box-shadow-4);
}

.sidenote>.sidenote-self-link {
  font-weight: 700;
  color: var(--Cucumber);
  background-color: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 2em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color var(--transition), background-color var(--transition);
  border-radius: 50%;
}

.sidenote.highlighted>.sidenote-self-link {
  background-color: var(--Anzac);
  color: var(--Rust);
}

.sidenote-wrapper .reversefootnote {
  display: none;
}

a.footnote.highlighted {
  color: var(--Rust);
}

a.footnote::before {
  content: "";
  display: block;
  background-color: inherit;
  position: absolute;
  left: -.5em;
  top: -.5em;
  width: 1.6em;
  height: 1.6em;
  z-index: -1;
  border-radius: 50%;
  transition: background-color var(--transition);
}

a.footnote.highlighted::before {
  background-color: var(--Anzac);
}

.sidenote-wrapper {
  overflow: hidden;
  position: relative;
  margin-bottom: .5em;
}

.sidenote.highlighted .sidenote-outer-wrapper {
  border-color: var(--Tango);
}

/* Menu */

#burgerBtn {
  border-top:2px solid var(--Merino);
  height:21px;
  width:30px;
  box-sizing:border-box;
  position:absolute;
  z-index:30;
  right:20px;
  top:17px;
  cursor:pointer;
  transition: all 0.3s ease-in;
}
#burgerBtn:before {
  content:"";
  display:block;
  position:absolute;
  height:2px;
  width:30px;
  left:0;
  background: var(--Merino);
  top:7px;
  transition: all 0.3s ease-in;
}
#burgerBtn:after {
  content:"";
  display:block;
  position:absolute;
  height:2px;
  width:30px;
  left:0;
  background: var(--Merino);
  bottom:0;
  transition: all 0.3s ease-in;
}

body > header nav {
  position:absolute;
  z-index:10;
  right: 3em;
  list-style-type:none;
  margin: 3em 0 0 0;
  padding:0;
  overflow:hidden;
  li {
    position: relative;
    text-align: right;
    padding: .5em 20px .5em 0;
    width:0;
    margin:30px 0 0 0;
    right: -3rem;
    color: var(--neutralWhite);
    background: var(--Cucumber);
    transition: all 0.6s ease-in;
    a {
      color: var(--neutralWhite);
    }
    a:hover, a:active, a:focus {
      color: var(--Merino);
    }
    & + li {
      right:-6em;
      & + li {
        right:-9em;
        & + li {
          right:-12em;
        }
      }
    }
  }
}

.navigation {
  body > header nav li {
    width:10em;
    right:0;
  }
  #burgerBtn {
    border-color:transparent;
    &:before {
      transform: rotate(45deg);
      width:33px;
      left:-2px;
    }
    &:after {
      transform: rotate(135deg);
      bottom:11px;
      width:33px;
      left:-2px;
    }
  }
}

main {
  z-index: 30;
  visibility:visible;
  transition: all 0.5s ease-in;
}

.navigation main {
  opacity: 0;
  transform: scale(0.85) translatey(-7.5%);
  visibility:hidden;
}
