@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,500;0,600;1,500;1,600&display=swap');

:root {
  /* Theme colors */
  --themeDarker: #02494c;
  --themeDark: #026367;
  --themeDarkAlt: #02767a;
  --themePrimary: #038387;
  --themeSecondary: #159196;
  --themeTertiary: #4bb4b7;
  --themeLight: #9bd9db;
  --themeLighter: #c7ebec;
  --themeLighterAlt: #f0fafa;

  /* Foreground  */
  --neutralBlack: #000000;
  --neutralDark: #201f1e;
  --neutralPrimary: #323130;
  --neutralPrimaryAlt: #3b3a39;
  --neutralSecondary: #605e5c;
  --neutralTertiary: #a19f9d;
  --neutralWhite: #ffffff;
  /* Background */
  --neutralTertiaryAlt: #c8c6c4;
  --neutralDark: #201f1e;
  --neutralQuaternaryAlt: #e1dfdd;
  --neutralLight: #edebe9;
  --neutralLighter: #f3f2f1;
  --neutralLighterAlt: #faf9f8;

/* Typography */
  --font-family-serif: "Libre Baskerville", Garamond, Georgia, serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-sans: "Montserrat", "Myriad", "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-size-s: 14px;
  --font-size-m: 16px;
  --font-size-l: 18px;
  --font-size-xl: 20px;
  --font-size-xxl: 26px;
  --leading: 1.45;
  --leading-tight: 1.4;
  --sans-ratio: 1;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

/* Layout */
  --width-body: 550px;
  --width-sidebar: 180px;
  --margin: calc(1rem + ((1vw - 3.75px) * 10)); /* calculated to be dynamic starting at iPhone SE screen */
  --gutter: calc(1rem + ((1vw - 3.75px) * 5));
  --border-radius: 4px; /* from MS Fluent UI for small items  */
  --border-radius-large: 8px; /* from MS Fluent UI for large items  */
  --box-shadow-4: 0 1.6px 3.6px 0 rgba(0, 0, 0, 0.132), 0 0.3px 0.9px 0 rgba(0, 0, 0, 0.108); /* from ms-depth-4 */
  --box-shadow-8: 0 3.2px 7.2px 0 rgba(0, 0, 0, 0.132), 0 0.6px 1.8px 0 rgba(0, 0, 0, 0.108); ; /* from ms-depth-8 */
  --border: 1px solid var(--neutralLight);

  --transition: 0.467s cubic-bezier(0.1,0.9,0.2,1);
}

@media (min-width: 576px) {
  :root {
    --leading: 1.5;
    --font-size-s: 13px;
    --font-size-m: 16px;
    --font-size-l: 20px;
    --font-size-xl: 26px;
    --font-size-xxl: 32px;
  }
}
@media (min-width: 768px) {
  :root {
    --gutter: 2rem;
  }
}
@media (min-width: 992px) {
  :root {
    --margin: 4rem;
  }
}
@media (min-width: 1200px) {
  :root {

  }
}


html, body {
  overflow-x: hidden;
  background-color: var(--neutralLight);
}

body {
  font-family: var(--font-family-serif);
  line-height: var(--leading);
  color: var(--neutralDark);
  font-size: var(--font-size-m);
  max-width: 100%;
  width: fit-content;
  margin: 0 auto;
}

body > header, body > footer {
  margin: var(--gutter) auto;
}

body > header {
  text-align: center;
  margin-top: 0;
  padding: calc(var(--margin)/2) 0;
  background-color: var(--neutralLighterAlt);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-4);
}

@media (min-width: 576px) {
  body > header {
    margin-top: var(--gutter);
  }
}

body > header h1 {
  font-size: var(--font-size-l);
  margin: 0;
}

body > header > nav, article > ul {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 991px) {
  main {
    max-width: var(--width-body);
    background-color: var(--neutralWhite);
    padding: var(--margin);
    box-shadow: var(--box-shadow-8);
    border-radius: var(--border-radius-large);
  }
}

div.content {
  position: relative;
  z-index: 1;
}

#sidenote-column {
  height: 100%;
}

#sidenote-column, main > header {
  font-size: var(--font-size-s);
  line-height: var(--leading-tight);
}

/* Hide desktop-only elements*/
#sidenote-column, main header nav, main header .tag-list, main header span {
  display: none;
}

@media (min-width: 992px) {
  body > header {
    width: calc(var(--width-body) + 2*var(--margin) + var(--width-sidebar) + var(--gutter) + 2rem);
  }
  main {
    display: grid;
    max-width: initial;
    grid-template-columns: auto auto;
    grid-gap: var(--gutter);
  }
  main > * {
    grid-column: 1;
  }
  div.content {
    grid-row: 1 / 3;
    position: relative;
    z-index: 1;
    background-color: var(--neutralWhite);
    box-shadow: var(--box-shadow-8);
    width: var(--width-body);
    padding: var(--margin);
    box-shadow: var(--box-shadow-8);
    border-radius: var(--border-radius-large);
  }
  main > header, main > #sidenote-column {
    grid-column: 2;
    width: var(--width-sidebar);
  }
  main > header {
    padding: 1rem;
    height: fit-content;
    border-radius: var(--border-radius);
    background-color: var(--neutralLighterAlt);
    box-shadow: var(--box-shadow-4);
  }
  main > header span {
    font-weight: 600;
    text-transform: uppercase;
  }
  /*  show desktop-only elements */
  main > #sidenote-column {
    display: block;
    position: relative;
  }
  main header nav { display: block;}
  main header .tag-list { display: list-item;}
  main header span { display: block;}
}

@media (min-width: 1200px) {
  body > header {
    width: calc(var(--width-body) + 2*var(--margin) );
  }
  main {
    grid-template-columns: auto auto auto;
  }
  main > header {
    grid-column: 1;
  }
  main > div.content {
    grid-column: 2;
  }
  main > #sidenote-column {
    grid-column: 3;
    width: calc( var(--width-sidebar) + 2rem );
  }
}

header ul, article > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

body > header ul {
  margin-top: auto;
}

header ul ul ul {
  margin-left: 1em;
}

header ul li {
  margin-top: .3em;
  margin-bottom: .3em;
}

header > ul > li {
  margin-bottom: 1em;
}

header, footer, nav, h2, .subtitle, h3, h4 {
  font-family: var(--font-family-sans);
}

h1, h2, .subtitle, h3, h4, h5, h6 {
  margin: 0;
}

h1, h2, .subtitle, h3 {
  font-weight: 600;
}

h1, h2, .subtitle {
  line-height: var(--leading-tight); /* TK soukie make a var */
}

h1 {
  color: var(--themeDark);
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-regular);
  margin-bottom: calc(1rem * var(--leading));
  text-align: center;
}

.subtitle {
  color: var(--themeDarker);
  font-size: calc(var(--sans-ratio) * var(--font-size-l));
  text-align: center;
  margin-top: calc(-.5rem * var(--leading));
  margin-bottom: calc(2rem * var(--leading));
}

h2 {
  color: var(--themeDark);
  font-size: calc(var(--sans-ratio) * var(--font-size-xl));
  margin: 1em 0 .5rem 0;
}

h3, h4, h5, h6 {
  margin-top: calc(1rem * var(--leading));
  margin-bottom: .2rem;
}

@media (min-width: 576px) {
  h2 {
    margin: calc(1em * var(--leading)) 0 calc(.5em * var(--leading)) 0;
  }
  h3, h4, h5, h6 {
    margin-bottom: .333rem;
  }
}

h3 {
  color: var(--themeDarker);
  font-size: calc(var(--sans-ratio) * var(--font-size-m));
}

h4, h5, h6 {
  color: var(--neutralPrimary);
  font-size: calc(var(--sans-ratio) * var(--font-size-m));
  font-weight: var(--font-weight-regular);
}

h4 {
  text-transform: uppercase;
}

h5, h6 {
  font-weight: var(--font-weight-bold);
}

header, footer {
  font-size: calc(var(--sans-ratio) * 1em);
  font-weight: 500;
}

footer {
  color: var(--neutralTertiary);
}

/* Typography */

p {
  margin: 0;
}
p+p {
  margin-top: calc(.5em * var(--leading));
}

a {
  color: var(--themePrimary);
  text-decoration: none;
}
a:hover, a:active, a:focus {
  color: var(--themeDarker);
}
a:focus {

}

blockquote {
  margin-left: 2em;
  margin-right: 0;
  /* font-style: italic; */
}

/* blockquote em {
  font-style: normal;
} */

@media (min-width: 992px) {
  blockquote {
    margin-right: 2em;
  }
}

.box {
  color: var(--neutralBlack);
}

aside.box {
  box-shadow: var(--box-shadow-4);
  padding: 1em;
  margin: calc(1em * var(--leading)) 0;
  background-color: var(--neutralLighterAlt);
  border-radius: var(--border-radius);
}

aside.pullquote {
  display: block;
  font-size: var(--font-size-l);
  font-style: italic;
  margin: calc(1rem * var(--leading)) 0;
  line-height: var(--leading-tight);
  padding-left: 3rem;
  text-align: right;
  color: var(--themeSecondary);
}

@media (min-width: 576px) {
  aside.box, aside.pullquote {
    float: right;
    margin: .5rem 1em;
    margin-right: 0;
    width: 40%;
    line-height: var(--leading-tight);
  }
  aside.pullquote {
    padding: 0;
  }
}

div.box {
  padding: 1rem;
  margin: calc(1em * var(--leading)) 0;
  border-radius: var(--border-radius);
  background-color: var(--themeLighterAlt);
}

/* When div.box follows headline (optionally with a strapline or image), format it as a lede paragraph  */
.content h1 + div.box, .content h1 + div.subtitle + div.box, .content h1 + div.subtitle + figure + div.box, .content h1 + figure + div.box {
  margin: 0 0 calc(1em * var(--leading)) 0;
  padding: 0;
  color: var(--themeDarker);
  border-radius: 0;
  background-color: inherit;
  font-family: var(--font-family-sans);
  font-size: calc(var(--sans-ratio) * 1em);
  font-weight: 500;
}

.box h2, .box h3, .box h4, .box h5 {
  margin-top: 0;
}

::-moz-selection {
  background-color: var(--themeSecondary);
  color: var(--neutralWhite);
}

::selection {
  background-color: var(--themeSecondary);
  color: var(--neutralWhite);
}

a {
  transition: color var(--transition);
}

ul, ol {
  padding-left: 1em;
}

figure {
  margin: calc(1rem * var(--leading)) 0;
  width: 100%;
}

figure > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

figcaption {
  color: var(--neutralSecondary);
  font-size: .85em;
  text-align: center;
}

article {
  box-shadow: var(--box-shadow-4);
  padding: 1rem;
  border-radius: var(--border-radius);
  margin: calc(2em * var(--leading)) 0;
}

article > ul {
  font-family: var(--font-family-sans);
  margin-bottom: calc(1em * var(--leading));
}

pre {
  -ms-overflow-style: scrollbar;
  overflow: auto;
}

pre, code, kbd {
  border-radius: var(--border-radius);
  background-color: var(--neutralLighterAlt);
  font-size: .85em;
}

pre {
  padding: .5rem;
}

code, kbd {
  padding: 0 .25em;
  border: var(--border);
}

pre code {
  padding: 0;
  border: none;
  font-size: 1em;
}

div.footnotes:not(#sidenote-column) {
  margin-top: calc(3rem * var(--leading));
}

div.footnotes:not(#sidenote-column)::before {
  content: "Footnotes";
  display: block;
  font-family: var(--font-family-sans);
  font-weight: 600;
  color: var(--themeDarker);
  border-top: 1px solid var(--neutralTertiary);
  padding-top: 1em;
}

/* Permalink display and positioning */
a.perma {
  position: absolute;
  left: .5rem;
  display: none;
}
@media (min-width: 576px) {
  div.content > [id] {
    position: relative;
    left: -2rem;
    padding-left: 2rem;
  }
  div.content > [id]:hover > a.perma {
    display: inline-block;
  }
}

/* Sidenotes section */

#sidenote-column>* {
  pointer-events: auto;
}

.sidenote {
  position: absolute;
  padding: 2em 1rem 1rem 1em;
  width: var(--width-sidebar);
  border-radius: var(--border-radius);
  background-color: var(--neutralWhite);
  box-shadow: var(--box-shadow-4);
}

.sidenote p {
  color: var(--neutralPrimary);
}

.sidenote>.sidenote-self-link {
  font-weight: 600;
  color: var(--neutralTertiary);
  background-color: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 2em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color var(--transition), background-color var(--transition);
  border-radius: 50%;
}

.sidenote.highlighted>.sidenote-self-link {
  background-color: var(--themeLighter);
  color: var(--neutralPrimary);
}

.sidenote-wrapper .reversefootnote {
  display: none;
}

a.footnote.highlighted {
  color: var(--neutralPrimary);
}

a.footnote::before {
  content: "";
  display: block;
  background-color: inherit;
  position: absolute;
  left: -.5em;
  top: -.5em;
  width: 1.6em;
  height: 1.6em;
  z-index: -1;
  border-radius: 50%;
  transition: background-color var(--transition);
}

a.footnote.highlighted::before {
  background-color: var(--themeLighter);
}

.sidenote-wrapper {
  overflow: hidden;
  position: relative;
  margin-bottom: .5em;
}

.sidenote.highlighted .sidenote-outer-wrapper {
  border-color: var(--neutralTertiaryAlt);
}
