---
layout: stylesheet
---

div.content {
  position: relative;
}

#sidenote-column-left, #sidenote-column-right {
    position: absolute;
    max-width: var(--GW-sidenotes-max-width);
    font-size: .85em;
    z-index: 1;
    pointer-events: none;
}

#sidenote-column-right {
    height: 100%;
    width: calc(50vw - (50% + 104px));
    top: 0;
    left: calc(100% + 60px);
}

#sidenote-column-left>*, #sidenote-column-right>* {
    pointer-events: auto;
}

.sidenote {
    position: absolute;
    left: 0;
    width: 100%;
    opacity: .85;
    line-height: 1.5;
    padding: 2em 0 0;
}

.sidenote.highlighted, .sidenote:hover, .sidenote:target, .sidenote.targeted {
    background-color: var(--GW-sidenote-highlight-background-color);
    opacity: 1;
}

.sidenote.highlighted, .sidenote:hover {
    color: red;
    z-index: 2;
}

a.footnote.highlighted {
  color: red;
}

.sidenote-outer-wrapper {
    overflow: hidden;
    position: relative;
    z-index: 1;
    border-style: dotted;
    border-color: var(--GW-sidenote-border-color);
    border-width: 1px 0;
}

.sidenote-inner-wrapper {
    position: relative;
    margin: .5em 0;
}
