---
title: Series
permalink: /series
description: A list of all article series on this website.
---

{%- for serie in site.series -%}
<a href="/series/{{serie.category}}"><h2 id='{{ serie.title | slugify }}'>{{ serie.title | strip }}</h2></a>
  {%- for note in site.notes -%}
    {%- if note.categories contains serie.category -%}
    <details>
<summary>{% include snippet.html %}</summary>
      <article>
{% include snippet.html full=true %}
      </article>
    </details>
    {%- endif -%}
  {%- endfor -%}
{%- endfor -%}
