---
layout: none
---

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="description" content="{{site.description}}">
    <meta content="{{site.title}}" property="og:site_name"/>
    <meta content="{{site.description}}" property="og:description">
    <meta content="{{ site.url }}/about/" property="article:author">
    <script src="/assets/js/sidenotes.js" async></script>
    {%- if page.title -%}
    <meta content="{{ page.title }}" property="og:title">
    <meta content="article" property="og:type">
    {%- else -%}
    <meta content="website" property="og:type">
    {%- endif -%}
    <meta content="{{ site.url }}{{ page.url }}" property="og:url">
    <title>{{site.title}}</title>
    <link rel="canonical" href="{{site.url}}{{page.url}}"/>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <link href="/assets/css/combined.css" rel="stylesheet" media="all" class="default"/>
    <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml">
</head>

<body>

    {%- include header.html -%}

    {%- include extend-markup.html html=content shift-headings=page.shift-headings -%}

    {%- include footer.html -%}

</body>
</html>
