---
layout: syntax-subs
---

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="description" content="TK description">
    <meta content="{{site.title}}" property="og:site_name"/>
    <meta content="{{site.user_description}}" property="og:description">
    <meta content="{{ site.url }}/about/" property="article:author">
    <script src="/assets/js/sidenotes.js" async></script>
    {%- if page.title -%}
    <meta content="{{ page.title }}" property="og:title">
    <meta content="article" property="og:type">
    {%- else -%}
    <meta content="website" property="og:type">
    {%- endif -%}
    <meta content="{{ site.url }}{{ page.url }}" property="og:url">
    <title>{{site.title}}</title>
    <link rel="canonical" href="{{site.url}}{{page.url}}"/>
    <link rel="apple-touch-icon" href="{{site.profile_pic}}">
    <link rel="icon" href="{{site.favicon}}" />

    <link href="/assets/css/combined.css" rel="stylesheet" media="all" class="default"/>
    <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml">
</head>

<body>

    {%- include header.html -%}

    <main>
      <header>
        <ul>
          {%- if page.date -%}
            <li><span>Published</span> {{ page.date | date: "%B %d, %Y"}}</li>
          {%- endif -%}
          {%- if page.toc -%}
            <li>
              <nav>
                <span>In this article</span>
                {% include toc.html html=content %}
              </nav>
            </li>
          {%- endif -%}
          {%- if page.tags -%}
            <li class="tag-list">
              <span>Tagged with</span>
              <ul>
                {%- for tag in page.tags -%}
                  <li><a href="/tags/#{{ tag }}" class="tag">{{ tag }}</a></li>
                {%- endfor -%}
              </ul>
            </li>
          {%- endif -%}
        </ul>
      </header>
      <div class="content">
        {%- if page.title -%}
          <h1>{{ page.title | markdownify | strip_html }}</h1>
          {%- if page.subtitle -%}
          <div class="subtitle">{{ page.subtitle | markdownify | strip_html }}</div>
          {%- endif -%}
        {%- endif -%}
        {%- if page.image -%}
          <figure>
            <img src="\assets\img\{{ page.image }}" alt="featured image" />
            {%- if page.caption -%}
              <figcaption>{{ page.caption | markdownify }}</figcaption>
            {%- endif -%}
          </figure>
        {%- endif -%}
        {% include anchor_headings.html html=content anchorBody="#" anchorClass="perma" %}
      </div>
    </main>

    {%- include comments.html -%}
    {%- include footer.html -%}

</body>
</html>
