---
layout: syntax-subs
---

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="description" content="TK description">
    <meta content="{{site.title}}" property="og:site_name"/>
    <meta content="{{site.user_description}}" property="og:description">
    <meta content="{{ site.url }}/about/" property="article:author">
    <script src="/assets/js/sidenotes.js" async></script>
    {%- if page.title -%}
    <meta content="{{ page.title }}" property="og:title">
    <meta content="article" property="og:type">
    {%- else -%}
    <meta content="website" property="og:type">
    {%- endif -%}
    <meta content="{{ site.url }}{{ page.url }}" property="og:url">

    <title>{{site.title}}</title>

    <link rel="canonical" href="{{site.url}}{{page.url}}"/>
    <link rel="apple-touch-icon" href="{{site.profile_pic}}">
    <link rel="icon" href="{{site.favicon}}" />

    <link href="/assets/css/pico.css" rel="stylesheet" media="all" class="default"/>
    <link href="/assets/css/sidenotes.css" rel="stylesheet" media="all" class="default"/>
    <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml">

    <!--[if IE]>
        <link href="/assets/css/ie-target.css" rel="stylesheet" type="text/css"/>
    <![endif]-->
    <!--<link href="/assets/css/prism.css" rel="stylesheet" />-->
</head>

<body>

    {%- include header.html -%}

    <main class="container reading">
      <header>
        <ul>
          {%- if page.date -%}
            <li>{{ page.date | date: "%B %d, %Y"}}</li>
          {%- endif -%}
          {%- if page.tags -%}
            <ul class="tags">
              {%- for tag in page.tags -%}
                <li><a href="/tags/#{{ tag }}" class="tag">{{ tag }}</a></li>
              {%- endfor -%}
            </ul>
          {%- endif -%}
        </ul>
        {%- if page.toc -%}
          <nav>
            {% include toc.html html=content %}
          </nav>
        {%- endif -%}
      </header>
      <div class="content">
        {%- if page.title -%}
          <h1>{{page.title}}</h1>
        {%- endif -%}
        {{ content }}
      </div>
      <footer>
      </footer>
    </main>

    {%- include comments.html -%}
    {%- include footer.html -%}

</body>
</html>

<script>for(let h of document.querySelectorAll('h2[id],h3[id],h4[id]'))h.innerHTML+=` <a href="#${h.id}" class="perma" aria-hidden="true">#</a>`</script>
