---
layout: default
---

<main>
  <header>
    <ul>
      {% if page.description %}
        <li>
          {{ page.description | markdownify }}
        </li>
      {% endif %}
      {%- if page.toc -%}
        <li>
          <nav>
            <span>On this page</span>
            {% include toc.html html=content %}
          </nav>
        </li>
      {%- endif -%}
    </ul>
  </header>
  <div class="content{% if page.lede %} lede{% endif %}">
    {%- if page.title -%}
      <h1>{{ page.title | markdownify | strip_html }}</h1>
      {%- if page.subtitle -%}
      <div class="subtitle">{{ page.subtitle | markdownify | strip_html }}</div>
      {%- endif -%}
    {%- endif -%}
    {%- if page.image -%}
      <figure>
        <img src="/img/{{ page.image }}" alt="featured image" />
        {%- if page.caption -%}
          <figcaption>{{ page.caption | markdownify }}</figcaption>
        {%- endif -%}
      </figure>
    {%- endif -%}
    {{ content }}
  </div>
  <div id='sidenote-column' class='footnotes' style='visibility:hidden'></div>
</main>
